<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      Logining...
    </div>
    <!-- built files will be auto injected -->
  </body>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    let common = {
      interfacePath: function () {
          let server = '/';
          switch (location.hostname) {
              // 测试环境
              case '119.3.27.90':
                  server = 'http://119.3.27.90/api';
                  break;
              // 正式环境
              case '122.9.81.224':
                  server = 'http://122.9.81.224/api';
                  break;
              case 'itg.e-raising.cn':
                  server = 'https://itg.e-raising.cn';
                  break;
              case 'scc.itg.com.cn':
                  server = 'https://scc.itg.com.cn/api';
                  break;
              case '172.20.13.3':
                  server = 'http://172.20.13.3/api';
                  break;
              case '172.20.13.131':
                  server = 'http://172.20.13.131/api';
                  break;
              default:
                  server = 'http://119.3.27.90/api';
          }
          return {
              server: server,
              basic: server + "/basic",
              member: server + '/member',
              openApi: server + '/openapi',
              fileServer: server + '/openapi/n/file/',
              fileServerDownload: server + '/openapi/n/file/downloadFile/',
          }
      }(),
    };

    function getQueryString(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
      var r = window.location.search.substr(1).match(reg);
      if (r != null) return unescape(r[2]); return null;
    }

    function loginCallback (result) {
      console.log(result)
      let token = result.token;
      let userInfo = { ...result.user };
      userInfo.isLogin = true;
      userInfo.sysCode = "BranchOrg";
      userInfo.appType = "1";
      setStore("userAppInfo", userInfo);
      setStore("token", token);
      getCompanyList(userInfo);
      // this.$router.push('/')
    }

    function setStore(name, content) {
      if (!name) return;
      if (typeof content !== 'string') {
          content = JSON.stringify(content);
      }
      window.localStorage.setItem(name, content);
    }

    function getCompanyList(userInfo) {

      $.ajax({
        //请求方式
        type : "get",
        //请求的媒体类型
        contentType: "application/json;charset=UTF-8",
        //请求地址
        url : common.interfacePath.member + '/c/organization/getEmployeePostOrganization',
        beforeSend: function(request) {
          request.setRequestHeader("Authorization", localStorage.getItem('token'));
        },
        //数据，json字符串
        data : {
          empId: userInfo.empId,
          sysCode: userInfo.sysCode,
        },
        //请求成功
        success : function(res) {
          if (res.success) {
            setStore("companyList", res.data);
            setStore("currentCompany", res.data[0]);
            // 加载菜单
            let currentOrg = res.data[0];
            $.ajax({
              //请求方式
              type : "post",
              //请求的媒体类型
              contentType: "application/json;charset=UTF-8",
              //请求地址
              url : common.interfacePath.member + '/p/org/switchOrg',
              beforeSend: function(request) {
                request.setRequestHeader("Authorization", localStorage.getItem('token'));
              },
              //数据，json字符串
              data : JSON.stringify({
                orgId: currentOrg.orgId,
                orgName: currentOrg.orgName,
              }),
              //请求成功
              success : function(res) {
                if (res.success) {
                  location.href = './index.html'
                }
              },
            });
          }
        },
      });
    }

    let ticket = getQueryString('ticket')
    $.ajax({
        //请求方式
        type : "get",
        //请求的媒体类型
        contentType: "application/json;charset=UTF-8",
        //请求地址
        url : common.interfacePath.member + '/n/login/admin/app',
        //数据，json字符串
        data : { ticket },
        //请求成功
        success : function(res) {
          if (res.success) {
            loginCallback(res.data);
          }
        },
        //请求失败，包含具体的错误信息
        error : function(e){
            console.log(e.status);
            console.log(e.responseText);
        }
    });


    
  </script>
</html>
